/* ========== GLOBAL ========== */
* {
	margin: 0;
	padding: 0;
	font-family: Calibri, sans-serif;
}

a {
	opacity: 0.7;	
	color: rgba(42, 49, 50);
	font-size: 20px;
}

a:hover {
	opacity: 1;
}
/*	background-color: rgba(51, 107, 135, 0.2);*/
body {
	background-color: white;
	min-width: 700px;
	color: rgba(42, 49, 50);
}

h1 {
	font-size: 50px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

p, li {
	font-size: 20px;
}

li {
	margin-top: 10px;
}

ol {
	margin-left: 30px;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}



/* ========== TOP ========== */
header {
	background-image: url("../images/IMG_3148.JPG");
	background-color: white;
	background-size: cover;
	background-position: center;
	padding-left: calc(20px + 5%);
	padding-right: calc(20px + 5%);
	height: 500px;
}

/*background-color: rgba(143, 187, 188, 0.8);*/
.innerHeader {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: rgba(245, 245, 245, 0.6);
	height: 75%;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
}

.nameplate {
	height: 160px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.navContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 40%;
	height: 160px;
}

.innerNav, .outerNav {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	height: 100%;
}


.innerNav {
	align-items: flex-start;
}

nav img, #fixed img {
	width: 40px;
}

.git {
	border-radius: 20px;
}

.hoverLine {
	text-decoration: none;
}

.hoverLine:hover {
	text-decoration: underline;
}



/* ========== FIXED NAVBAR ========== */
#fixed {
	height: 100px;
	width: 100%;
	background-color: rgba(143, 187, 188, 0.8);
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#fixed div {
	width: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/*#fixed div:first-child {
	margin-right: 20%;
}*/

#fixed-space {
	display: none;
	height: 60px;
}



/* ========== MIDDLE ========== */
.spacer {
	height: 60px;
}

article {
	margin: 20px 0;
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
}

main h4 {
	margin-top: 10px;
}

/* rgba(143, 187, 188, 0.3) */
main div {
	background-color: white;
	width: 90%;
	padding: 5px;
}

section {
	border-top: 1px black solid;
	margin-bottom: 80px;
}

.screenShot {
	border: 2px solid black;
	margin: 40px 0;
	align-self: center;
}

.myPic {
	margin-right: 60px;
	width: 120px;
	height: 120px;
	border-radius: 60px;
}

.wrap {
	margin-top: 20px;
	display: flex;
}

.opaque {
	opacity: 1;
}

.fakeLink {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fakeLink p {
	opacity: 0.7;	
	color: rgba(42, 49, 50);
	font-size: 20px;
}

.fakeLink p:hover {
	cursor: pointer;
	opacity: 1;
}

.hidden {
	display: none;
}



/* ========== BOTTOM ========== */
footer {
	height: 20vh;
	width: 90%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

footer div {
	margin-top: 30px;
}

footer span {
	margin-right: 40px;
}
