/* ========== GLOBAL ========== */
* {
	margin: 0;
	padding: 0;
	font-family: Calibri, sans-serif;
}

a {
	opacity: 0.7;	
	color: rgba(42, 49, 50);
	font-size: 20px;
}

a:hover {
	opacity: 1;
}
/*	background-color: rgba(51, 107, 135, 0.2);*/
body {
	background-color: whitesmoke;
	min-width: 600px;
	color: rgba(42, 49, 50);
}

h1 {
	font-size: 50px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

p {
	font-size: 18px;
}



/* ========== TOP ========== */
header {
	background-image: url("../images/IMG_3148.JPG");
	background-color: whitesmoke;
	background-size: cover;
	background-position: center;
	padding-left: calc(20px + 5%);
	padding-right: calc(20px + 5%);
	height: 500px;
}

/*background-color: rgba(143, 187, 188, 0.8);*/
.innerHeader {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: rgba(245, 245, 245, 0.6);
	height: 75%;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 20px;
}

.nameplate {
	height: 160px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.navContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 40%;
	height: 160px;
}

.innerNav, .outerNav {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	height: 100%;
}


.innerNav {
	align-items: flex-start;
}

nav img, #fixed img {
	width: 40px;
}

.git {
	border-radius: 20px;
}



/* ========== FIXED NAVBAR ========== */
#fixed {
	height: 60px;
	width: 100%;
	background-color: rgba(143, 187, 188, 0.8);
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 10;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#fixed div {
	width: 40%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#fixed div:first-child {
	margin-right: 20%;
}

#fixed-space {
	display: none;
	height: 60px;
}



/* ========== MIDDLE ========== */
.spacer {
	height: 60px;
}

article {
	margin: 20px 0;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
}

main h4 {
	margin-top: 10px;
}

/* rgba(143, 187, 188, 0.3) */
main div {
	background-color: whitesmoke;
	width: 90%;
	padding: 5px;
}

section {
	border-top: 1px black solid;
	margin-bottom: 80px;
}



/* ========== BOTTOM ========== */
footer {
	height: 20vh;
	width: 90%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

footer div {
	margin-top: 30px;
}

footer span {
	margin-right: 40px;
}



/* ========== MEDIA ========== */
@media (max-width: 600px) {
	#fixed {
		display: none;
	}
	#fixed-space {
		display: block;
	}
}